# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Logs
*.log

# Dependency directories (vendor/)
vendor/

# Go test binary files
*.test

# IDE specific files
.idea/
.vscode/
*.swp

# Go module files
go.sum

# Executable files
colorsage

# Ignore asset folders
assets/

# ignore debugging script tk.sh
tk.sh

# Ignore a debugging file colors.txt
colors.txt

# Ignore a debugging file directory_tree_and_go_files.txt
directory_tree_and_go_files.txt

